@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Marhey&family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=DM+Sans&family=Marhey&family=Noto+Sans+KR&display=swap');
body {
  background-color: #ffffff;
  margin:0;
  font-family:'Noto Sans KR',sans-serif; 
  line-height:normal}h1,h2,h3,h4,h5,h6{font-weight:700;line-height:normal;
}

a {
  text-decoration: none;
}

ul li {
  display: block;
}

.navbar {
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3586ff;
  padding: 8px 24px;
  position: sticky;
  top:0px;
}

.navbar_logo img {
  width:100px;
}

.navbar_menu {
  display: flex;
  list-style: none;
  padding-left:0;
}

.navbar_menu li {
  padding-right: 24px;
}

.navbar_menu a:hover {
  color: white;
}

.navbar_menu a {
  color:#fff;
  padding-left:0;
}

.navbar_toggleBtn{
  display: none;
}

/* 프로필 */
.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 100px 0px 100px 0px;
  background-color: rgb(255, 224, 202);
}

.character img {
  width: 150px;
}

/* 시계 */
.timeBox {
  display: flex;
  font-size: 2rem;
  font-family:'DM Sans', sans-serif;
  letter-spacing:10px;
  color:rgb(57, 57, 57);
}



.title {

  text-align: center;
}

.title .font1 {
  font-size: 1rem;
  color:#3586ff;
}

.title .font2{
  font-size: 4rem;
  color: #3586ff;
  font-family: Black Han Sans,sans-serif;
}

/* wrap */
.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  padding: 100px 0px 100px 0;
  background-color: rgb(255, 255, 255);
}

.aboutMe {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 100px 100px 100px;
  grid-template-areas: 'article_title article_title article_title'
                       'name birth address'
                       'phone email Education';
}

.aboutMe > div{
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.article_title{
  grid-area: article_title;
}
.name {
  grid-area: name;
}
.birth {
  grid-area: birth;
}
.address {
  grid-area: address;
}
.phone {
  grid-area: phone;
}
.email {
  grid-area: email;
}
.Education {
  grid-area: Education;
}

.warp_s {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 40px 1fr;
  grid-template-rows: 30px 30px;
  grid-template-areas: 'icon nameN'
                       'icon nameW';
}

.warp_s > div{
  justify-content: center;
  align-items: center;
}

.icon{
  grid-area: icon;
  opacity: 0.9;
  padding-top:3px;
}
.nameN{
  grid-area: nameN;
  font-weight:bold;
  font-size: 20px;
  color:#424242;
}
.nameW{
  grid-area: nameW;
  font-size: 16px;
  color:#555555;
}

.icon {
  width: 32px;
  height: 32px;
}

.article_title{
  display: flex;
  font-family: Black Han Sans,sans-serif;
  font-size: 3rem;
}

.workExperience{
  width:100%;
  height:200px;
  background:rgb(225, 106, 170);
}

.certificate{
  width:100%;
  height:200px;
  background:rgb(255, 172, 216);
}

.career{
  width:100%;
  height:200px;
  background:rgb(157, 27, 96);
}

.design{
  width:100%;
  height:200px;
  background:rgb(75, 8, 44);
}

footer {
  position: relative;
  bottom: 0px;
  width: 100%;
  background-color: #3586ff;
  min-height: 100px;
  padding-bottom: 20px;
}

footer .social_icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  color:rgb(255, 255, 255);
  flex-wrap: wrap;
}

footer .social_icon li a {
  font-size: 3rem;
  color:#fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .social_icon li a:hover {
  transform: translateY(-3px);
  opacity: 0.8;
}

footer .copyright {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 26px;
  color: #fff;
}

footer .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(images/wave.png);
  background-size: 1000px 100px;
}

footer .wave#wave1{
  z-index:1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}

footer .wave#wave2{
  z-index:999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3{
  z-index:998;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}

footer .wave#wave4{
  z-index:997;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
  0% { background-position-x: 1000px;}
  100% { background-position-x: 0px;}
}

@keyframes animateWave_02 {
  0% { background-position-x: 0px;}
  100% { background-position-x: 1000px;}
}

/* .imgBox {
  max-width: 1920px;
  display:inline;
  justify-content: center;
}

.imgBox > img {
  display: block;
  width: 100%;
} */

/*테블릿*/
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    position: sticky;
    top:0px;
  }
  
  .navbar_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar_menu li {
    padding-top: 20px;
  }

  .navbar_toggleBtn{
    display: block;
    position: absolute;
    right: 10px;
    padding-top:12px;
  }
  
  .navbar_menu.active {
    display: flex;
  }
}

/*모바일*/
/* @media screen and (max-width: 320px) { 
  .navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    padding: 8px 24px;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .navbar_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar_menu li {
    padding-top: 20px;
  }

  .navbar_toggleBtn{
    display: block;
    position: absolute;
    right: 10px;
    padding-top:12px;
  }
  
  .navbar_menu.active {
    display: flex;
  }
} */