body {
  background-color: #b57491;
  margin:0;font-family:Noto Sans KR,sans-serif;
  line-height:normal}h1,h2,h3,h4,h5,h6{font-weight:700;line-height:normal
}

a {
  text-decoration: none;
}

ul li {
  display: block;
}

.navbar {
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8574b5;
  padding: 8px 24px;
  position: sticky;
  top:0px;
}

.navbar_logo img {
  width:100px;
  padding-left: 24px;
}

.navbar_menu {
  display: flex;
  list-style: none;
  padding-left:0;
}

.navbar_menu li {
  padding-right: 24px;
}

.navbar_menu a:hover {
  color: white;
}

.navbar_menu a {
  color:#382875;
  padding-left:0;
}

.navbar_toggleBtn{
  display: none;
}

/* 프로필 */
.profile {
  width: 100%;
  height: 300px;
  background-color: antiquewhite;
}

/* design */
.design {
  width: 100%;
  min-height: 20vh;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #3586ff;
  min-height: 100px;
  
}

footer .social_icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  color:azure;
  flex-wrap: wrap;
}

footer .social_icon li a {
  font-size: 2rem;
  color:#fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .social_icon li a:hover {
  transform: translateY(-10px);
}

footer .copyright {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 26px;
  color: #fff;
}

footer .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(images/wave.png);
  background-size: 1000px 100px;
}

footer .wave#wave1{
  z-index:1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}

footer .wave#wave2{
  z-index:999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3{
  z-index:998;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}

footer .wave#wave4{
  z-index:997;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
  0% { background-position-x: 1000px;}
  100% { background-position-x: 0px;}
}

@keyframes animateWave_02 {
  0% { background-position-x: 0px;}
  100% { background-position-x: 1000px;}
}

/* .imgBox {
  max-width: 1920px;
  display:inline;
  justify-content: center;
}

.imgBox > img {
  display: block;
  width: 100%;
} */

/*테블릿*/
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    position: sticky;
    top:0px;
  }
  
  .navbar_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar_menu li {
    padding-top: 20px;
  }

  .navbar_toggleBtn{
    display: block;
    position: absolute;
    right: 10px;
    padding-top:12px;
  }
  
  .navbar_menu.active {
    display: flex;
  }
}

/*모바일*/
/* @media screen and (max-width: 320px) { 
  .navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    padding: 8px 24px;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .navbar_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar_menu li {
    padding-top: 20px;
  }

  .navbar_toggleBtn{
    display: block;
    position: absolute;
    right: 10px;
    padding-top:12px;
  }
  
  .navbar_menu.active {
    display: flex;
  }
} */