@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Marhey&family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=DM+Sans&family=Marhey&family=Noto+Sans+KR&display=swap');
html{
	scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  margin:0;
  font-family:'Noto Sans KR',sans-serif; 
  line-height:normal}h1,h2,h3,h4,h5,h6{font-weight:700;line-height:normal;
}

a {
  text-decoration: none;
}

.mygrang_a{
  text-decoration: none; font-size:20px;
  color:darkmagenta;
}

ul li {
  display: block;
}

.navbar {
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3586ff;
  padding: 8px 24px;
  position: sticky;
  top:0px;
}

.navbar_logo img {
  width:100px;
}

.navbar_menu {
  display: flex;
  list-style: none;
  padding-left:0;
}

.navbar_menu li {
  padding-right: 24px;
}

.navbar_menu a:hover {
  color: white;
}

.navbar_menu a {
  color:#fff;
  padding-left:0;
}

.navbar_toggleBtn{
  display: none;
}

/* 프로필 */
.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:300px;
  padding: 100px 0px 100px 0px;
  background-color: rgb(255, 224, 202);
}

.character img {
  width: 200px;
}

/* 시계 */
.timeBox {
  display: flex;
  font-size: 2rem;
  font-family:'DM Sans', sans-serif;
  letter-spacing:10px;
  color:rgb(57, 57, 57);
}



.title {

  text-align: center;
}

.title .font1 {
  font-size: 1rem;
  color:#3586ff;
}

.title .font2{
  font-size: 4rem;
  color: #3586ff;
  font-family: Black Han Sans,sans-serif;
}

/* wrap about me */
.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 100px 0px 100px 0;
  background-color: rgb(255, 255, 255);
}

.aboutMe {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 100px 70px 70px;
  grid-template-areas: 'article_title article_title article_title'
                       'name birth address'
                       'phone email Education';
}

.aboutMe > div{
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.icon_clip{
  padding-top:5px;
  opacity: 0.5;
}
.title_line{
  border-bottom: 1px solid rgb(133, 133, 133);
}
.article_title{
  grid-area: article_title;
}
.name {
  grid-area: name;
}
.birth {
  grid-area: birth;
}
.address {
  grid-area: address;
}
.phone {
  grid-area: phone;
}
.email {
  grid-area: email;
}
.Education {
  grid-area: Education;
}

.warp_s {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 40px 1fr;
  grid-template-rows: 30px 30px;
  grid-template-areas: 'icon nameN'
                       'icon nameW';
}

.warp_s > div{
  justify-content: center;
  align-items: center;
}

.icon{
  grid-area: icon;
  opacity: 0.9;
  padding-top:3px;
  width: 32px;
  height: 32px;
}
.nameN{
  grid-area: nameN;
  font-weight:bold;
  font-size: 20px;
  color:#424242;
}
.nameW{
  grid-area: nameW;
  font-size: 16px;
  color:#555555;
}



.article_title{
  display: flex;
  font-family: Black Han Sans,sans-serif;
  font-size: 3rem;
}

.article_title2{
  display: flex;
  font-family: Black Han Sans,sans-serif;
  font-size: 3rem;
}

/* wrap workExperience */
.wrap1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #3586ff;
  width: 100%;
  padding: 100px 0px 100px 0;
}

.workExperience{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:#fff;
  width:100%;
}

.title_line_work{
  border-bottom: 1px solid rgb(255, 255, 255);
}

.work_title{
  display: flex;
  font-family: Black Han Sans,sans-serif;
  font-size: 3rem;
  padding-bottom: 80px;
  padding-top:100px;
}

.work_warp{
  display: flex;
  justify-content: center;
  width: 100%;
}

.work_swarpL{
  display: flex;
  flex-direction: column;
  width: 40%;
  border-left: 1px solid rgb(255, 255, 255);
}
.work_swarpR{
  display: flex;
  flex-direction: column;
  width: 40%;
  border-left: 1px solid rgb(255, 255, 255);
}
.work_year_warp1{
  display: flex;
  padding-left:40px;
  padding-bottom: 40px;
}
.work_year_warp{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 97%;
}

.font_year {
  width:100px;
  font-size: 2rem;
  color: #ffffff;
  font-family:'DM Sans', sans-serif;
  font-weight: bold;
}
.work_text{
  line-height:1.7;
  font-family:'Noto Sans KR', sans-serif;
  font-size: 16px;
}

.work_text > span{
  font-size: 1.3rem;
  padding-left:40px;
}

.career{
  width:100%;
  height:200px;
  background:rgb(157, 27, 96);
}

/* wrap certificate */
.wrap2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 200px 0px 80px 0;
  background-color: #2a2a2a;
}

.certificate_title{
  display: flex;
  color:#fff;
  font-family: Black Han Sans,sans-serif;
  font-size: 3rem;
  padding-bottom: 80px;
}

.certificate_wrap{
  display: flex;
  justify-content: space-around;
  align-items:flex-start;
  width: 65%;
  flex-wrap: wrap;
}

.certificate_card{
  font-family:'Noto Sans KR', sans-serif;
  color:#424242;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  width:300px;
  background:rgb(255, 255, 255);
  border-radius: 15px;
  padding:20px;
  margin-bottom: 20px;
}

.img_300px {
  width: 200px;
}

.design{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top:200px;
  padding-bottom: 50px;
}

.mySwiper01{
  width: 80%;
  aspect-ratio: 20 / 9;
  border-radius: 15px;
  border:10px solid #333;
}

.mySwiper02{
  width: 40%;
  aspect-ratio: 10 / 15;
  border-radius: 15px;
  border:10px solid #333;
}

.mySwiper{
  width: 80%;
  aspect-ratio: 16 / 9;
  border-radius: 15px;
  border:10px solid #333;
}

.wrapper,
.slide {
  position:relative;
  width:100%;
  height:100%;
}

.slide{
  overflow: hidden;
}

.slide::before {
  content: "";
  position:absolute;
  height: 100%;
  width:100%;
  /* background-color: rgba(0, 0, 0, 0.5); */
  z-index: 10;
}

.slide .image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.slide .image-data{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  z-index: 100;
}

.image-data span.text{
  font-size: 14px;
  font-weight: 400;
  color:rgb(255, 255, 255);
}

.image-data h2{
  font-size: 45px;
  font-weight: 600;
  color:rgb(255, 255, 255);
}

a.button {
  display: inline-block;
  padding:10px 20px;
  border-radius: 25px;
  color: #333;
  background: #fff;
  text-decoration: none;
  margin-top: 25px;
  transition: all 0.3s ease;
}

a.button:hover{
  background-color: #C87E4F;
}

/* swiper button css */
.nav-btn{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding:10px 20px 10px 20px;
  background: rgba(47, 47, 47, 0.3);
}

.swiper-button-next{
  margin-right: 10px;
}
.swiper-button-prev {
  margin-left: 10px;
}

.nav-btn::before,
.nav-btn::after {
  color: #fff;
}

.swiper-pagination-bullet {
  opacity: 1;
  height: 12px;
  width: 12px;
  background-color: #fff;
  visibility: hidden;
}

.swiper-pagination-bullet-active {
  border: 2px solid #fff;
  background-color: #c87e4f;
}

@media screen and (max-width: 768px){
  .nav-btn {
    visibility: hidden;
  }
  .swiper-pagination-bullet{
    visibility: visible;
  }
}

.blue {
  color:#3586ff;
}

.blueLine{
  color:#3586ff;
  border-bottom: 1px solid #3586ff;
}



footer {
  position: relative;
  bottom: 0px;
  width: 100%;
  background-color: #3586ff;
  min-height: 100px;
  padding-bottom: 20px;
}

footer .social_icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  color:rgb(255, 255, 255);
  flex-wrap: wrap;
}

footer .social_icon li a {
  font-size: 3rem;
  color:#fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .social_icon li a:hover {
  transform: translateY(-3px);
  opacity: 0.8;
}

footer .copyright {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 26px;
  color: #fff;
}

footer .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(images/wave.png);
  background-size: 1000px 100px;
}

footer .wave#wave1{
  z-index:1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}

footer .wave#wave2{
  z-index:999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3{
  z-index:998;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}

footer .wave#wave4{
  z-index:997;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
  0% { background-position-x: 1000px;}
  100% { background-position-x: 0px;}
}

@keyframes animateWave_02 {
  0% { background-position-x: 0px;}
  100% { background-position-x: 1000px;}
}

/* .imgBox {
  max-width: 1920px;
  display:inline;
  justify-content: center;
}

.imgBox > img {
  display: block;
  width: 100%;
} */

/*테블릿*/
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    position: sticky;
    top:0px;
  }
  
  .navbar_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar_menu li {
    padding-top: 20px;
  }

  .navbar_toggleBtn{
    display: block;
    position: absolute;
    right: 10px;
    padding-top:12px;
  }
  
  .navbar_menu.active {
    display: flex;
  }

  .aboutMe {
    display: block;
  }
  
  /* 커리어 */
  .work_warp{
    display: block;
    justify-content:flex-start;
    width: 100%;
  }

  .work_swarpL{
    display: flex;
    flex-direction: column;
    width:100%;
  }
  .work_swarpR{
    display: flex;
    flex-direction: column;
    width:100%;
  }

  .work_year_warp1{
    display: flex;
    padding-left:20px;
    padding-bottom: 20px;
  }
  .work_year_warp{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 97%;
  }
  
  .font_year {
    font-size: 2rem;
    color: #ffffff;
    font-family:'DM Sans', sans-serif;
    font-weight: bold;
  }
  .work_text{
    line-height:1.7;
    font-family:'Noto Sans KR', sans-serif;
    font-size: 14px;
  }
  
  .work_text > span{
    font-size: 1.3rem;
    padding-left:10px;
  }

  .mySwiper{
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 0px;
    border:none;
  }

  .mySwiper01{
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 8;
    border-radius: 0px;
    border:none;
  }

  .modal_close_btn{
    width: 100%;
    object-fit: cover;
  }
}


#my_modal {
  display: none;
  width: auto;
  height: 100%;
  border: 1px solid #888;
  border-radius: 3px;
  overflow-y: auto;
  cursor: pointer;
  transition: 0.3s;
}

#my_modal .modal_close_btn {
  /* position: absolute;
  top: 10px;
  right: 10px; */
  cursor: pointer;
  z-index: 9999999;
}

.content::-webkit-scrollbar {
  width: 15px;
  height: 10px;
}

.content::-webkit-scrollbar-thumb {
  background: #3586ff;
  border-radius: 5px;
}